<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Solitude - Menu Principal</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/dashboard/">
    
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.4/examples/dashboard/dashboard.css" rel="stylesheet">
    <style>form li + li {
      margin-top: 1em;
      } </style>

  </head>

  <body>
    <nav class="navbar navbar-dark sticky-top bg-warning flex-md-nowrap p-0">
      
      <a class="bg-success col-sm-3 col-md-2 mr-0"></a>
      <h1 class="bold" style=> <center></center></div> </h1>
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          {% if user.is_superuser %}
          <a class="nav-link" href="/accounts/profile/logout_view" style="color:black;">Bienvenido {{ nombre.0.Sec_Nom }} {{ nombre.0.Sec_Ap }} (Cerrar sesion)</a>
          {% else %}
          <a class="nav-link" href="/accounts/profile/logout_view" style="color:black;">Bienvenido {{ nombre.0.Est_Nom }} {{ nombre.0.Est_Ap }} (Cerrar sesion)</a>
          {% endif %}
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class='col-md-1'></div>

        <main role="main" class="col-md-10">
      
          {% if nombrecln %}
	          <div class="alert alert-success" role="alert">
				  El usuario {{ nombrecln }} {{ paternocln }} ha sido creado exitosamente con nombre de usuario: {{ rutcln }} y contraseña: {{ clavecln }}
				</div>
        
          {% endif %}
          {% if modificarok %}
            <div class="alert alert-success" role="alert">
          El estado ha sido modificado con exito
        </div>
        
          {% endif %}
          {% if solicitudok %}
            <div class="alert alert-success" role="alert">
          La solicitud ha sido ingresada con exito
        </div>
        
          {% endif %}


          <!--<canvas class="my-4" id="myChart" width="900" height="380"></canvas>-->
          {% if user.is_superuser %}
      
          	 <div class="card text-center">
      <div class="card-body">
         <div class="row">
                  <div class="col-sm-4"></div>
                  <div class="col-sm-4">
                    
                      
                
                      <div align="center"><img src="https://i.ibb.co/hygQ15f/logo.jpg" width="50%" height="27%"></div>
          
               


                  </div>
                  <div class="col-sm-4"></div>
              </div>
      </div>
    </div>

          <!--<canvas class="my-4" id="myChart" width="900" height="380"></canvas>-->   


 
          <!----<h2 style="font-family:sans-serif;color:black;" >Historial de mantenciones</h2>--> 
          <div class="container">
          <ul style ="list-style: none; padding: 0; margin: 0;">
            <li style = "margin-top: 2em;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                      <a type="button" href="/visualizar_solicitudes_e"class="btn btn-warning btn-lg btn-block">Visualizar Solicitudes Emitidas</a> 
                    </div>
                    <div class="col-sm-4"></div>
                </div>
            </div>
            </li>
            <li style = "margin-top: 2em;">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4">
                      <a type="button" href="/accounts/profile/logout_view"class="btn btn-warning btn-lg btn-block">Salir</a>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
            </div>
            </li>
          </ul>
          </div>
          
          {% else %} 


       
                <div class="row">
                  <div class="col-sm-4"></div>
                  <div class="col-sm-4">
                    
                                      <div class="card">
                    <div class="card-body">
                      <div align="center"><img src="https://i.ibb.co/hygQ15f/logo.jpg" width="50%" height="27%"></div>
                    </div>
                  </div>


                  </div>
                  <div class="col-sm-4"></div>
              </div>
       

          <div class="container">
             
              
          
       <div class="container">
        <ul style ="list-style: none; padding: 0; margin: 0;">
          <li style = "margin-top: 2em;">
          <div class="container">
              <div class="row">
                  <div class="col-sm-4"></div>
                  <div class="col-sm-4">
                    <a type="button" href="/Solicitud_por_tope"class="btn btn-warning btn-lg btn-block">Ingresar Solicitud por tope</a> 
                  </div>
                  <div class="col-sm-4"></div>
              </div>
          </div>
          </li>
          <li style = "margin-top: 2em;">
          <div class="container">
              <div class="row">
                  <div class="col-sm-4"></div>
                  <div class="col-sm-4">
                    <a type="button" href="/Solicitud_sin_prerequisito"class="btn btn-warning btn-lg btn-block">Ingresar Solicitud sin Pre requisito</a>
                  </div>
                  <div class="col-sm-4"></div>
              </div>
          </div>
          </li>
          <li style = "margin-top: 2em;">
          <div class="container">
              <div class="row">
                  <div class="col-sm-4"></div>
                  <div class="col-sm-4">
                    <a type="button" href="/Ver_solicitudes"class="btn btn-warning btn-lg btn-block">Visualizacion de solicitudes</a>
                  </div>
                  <div class="col-sm-4"></div>
              </div>
          </div>
          </li>
          <li style = "margin-top: 2em;">
          <div class="container">
              <div class="row">
                  <div class="col-sm-4"></div>
                  <div class="col-sm-4">
                    <a type="button" href="/accounts/profile/logout_view" class="btn btn-warning btn-lg btn-block">Salir</a>
                  </div>
                  <div class="col-sm-4"></div>
              </div>
          </div>
          </li>
        </ul>
        </div>

           
          <!-- <h2 style="font-family:sans-serif;color:black;" >Historial de mantenciones</h2>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Fecha de inicio</th>
                  <th>Fecha de finalizacion</th>
                  <th>Marca</th>
                  <th>Modelo</th>
                  <th>Estado</th>
                  <th>Descripcion</th>
                </tr>
              </thead>
              <tbody>
                {% for dato in datos %}
                <tr>
                  <td>{{ dato.0 }}</td>
                  <td>{{ dato.1 }}</td>
                  <td>{{ dato.2 }}</td>
                  <td>{{ dato.3 }}</td>
                  <td>{{ dato.5 }}</td>
                  <td>{{ dato.6 }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div> -->
          {% endif %}


        </main>
        <div class='col-md-1'></div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <!-- Graphs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
  </body>
</html>
